img{
    margin-left: 20px;
}

h1{
    text-align: center;
    font-size: 75px;
    margin: 50px;
    color:aliceblue;
    text-shadow: 2px 2px 4px #000000;
}
.field{
    width: 400px;
    height: 25px;
}
textarea{
    resize: none;
    width: 400px;
}

body{
    margin-top: 10vh; 
    margin-left: 0;
    background-color: #3EAD9F;
    font-family: Helvetica, sans-serif;
}
#smart_explanation{
    text-align: right;
    font-size: 20px;
    margin: 0%;
    color:aliceblue;
    text-shadow: 1px 1px 2px #000000;
}
.button{
    background-color:#FA6E32 ;
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;
    border-color: aliceblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 200px;
    font-size: 30px;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #FF824D;
    color: white;
}
header{
    background-color:#2e7e73 ;
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    align-items: center;

    position: fixed;
    top: 0px;

    width: 100%;

    height: 75px;
}

footer{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    background-color:#2e7e73;
    height: 50px;
    text-align: center;
    justify-content: center;
}
.footerP{
    text-align: center;
    font-size: 20px;
    margin: 0%;
    color:aliceblue;
    text-shadow: 1px 1px 2px #000000;
}


input{
    width: 100%;
}

/* *{
    border-style: solid;
} */

p{
    text-align: center;
}

/* p::first-letter{
    font-weight: bold;
} */

#main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}